.tabla-clientes {
    border-collapse: collapse;
    width: 100%;
  }
  
  .tabla-clientes th,
  .tabla-clientes td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tabla-clientes th {
    background-color: #f2f2f2;
    text-align: left;
  }